body {background:#e6e6e6;font-family:arial;min-width:1000px}
.container {position:absolute;top:0;left:0;right:0;bottom:0;width:100%;min-width:1000px;min-height:590px}
#head {position:absolute;top:10px;right:17%;left:10px;overflow:hidden;border-radius:10px}
#rightcoll {position:absolute; top:10px;bottom:10px;right:10px;width:15%;overflow:hidden;border-radius:10px}
#rightcoll img {display:block;margin:0 auto}
a.shower {display:block;background:orange;color:white;padding:5px;font-size:14px;text-align:center;width:100%}
#center {position:absolute;top:70px;bottom:70px;left:10px;right:17%;background:white;overflow:hidden;border-radius:10px}
#footer {position:absolute;left:10px;right:17%;bottom:10px;overflow:hidden;border-radius:10px}
ul.menu {list-style:none;margin:0;padding:0;position:absolute;bottom:0;top:110px;left:0;right:0;overflow:hidden;border-radius:10px}
li.vectors, li.dictionaries, li.lists, li.graphs, li.trees {border-bottom:3px solid white;position:relative}
li.vectors:hover, li.dictionaries:hover, li.lists:hover, li.graphs:hover, li.trees:hover {background-color:orange}
ul.menu a {color:white}
ul.menu li ul {position:absolute;height:auto;overflow:hidden;list-style-type:disc;bottom:-100%}
ul.menu li:hover ul {bottom:10px}
ul.menu li ul li {margin:0;padding:0}
ul.menu li ul li a {display:block;padding:2px}
a.vectors {background:url(./images/a.png) no-repeat center}
a.dictionaries {background:url(./images/b.png) no-repeat center}
a.lists {background:url(./images/c.png) no-repeat center}
a.graphs {background:url(./images/d.png) no-repeat center}
a.trees {background:url(./images/e.png) no-repeat center}
ul.menu li:hover a {background:transparent}
a.vectors, a.dictionaries, a.lists, a.graphs, a.trees {display:block;text-align:center;height:19%;padding:0.5% 10px;font-weight:bold;background-color:#1A6DB9}

#head a {display:block;width:33.33%;height:50px;float:left;background-color:#1A6DB9}
#head a:hover {background-color:orange}
.inf {background:url(./images/f.png) no-repeat center}
.conf {background:url(./images/g.png) no-repeat center}
.gogo {background:url(./images/h.png) no-repeat center}

#footer a:hover {background-color:orange}
a.rr {background:url(./images/rr.png) no-repeat center}
a.r {background:url(./images/r.png) no-repeat center}
a.p {background:url(./images/p.png) no-repeat center}
a.pause {background:url(./images/pause.png) no-repeat center}
a.l {background:url(./images/l.png) no-repeat center}
a.ll {background:url(./images/ll.png) no-repeat center}
a.min {background:url(./images/min.png) no-repeat center}
a.max {background:url(./images/max.png) no-repeat center}
#footer a {display:block;float:left;width:14.28%;height:50px;background-color:#1A6DB9}

#center .left {position:absolute;top:0;right:0;left:0;bottom:0;z-index:8;overflow-x:auto !important;overflow-y:auto !important;}
#center .right {position:absolute;top:0;right:0;left:85%;background:rgba(255,255,255,0.8);overflow:hidden;z-index:9}
#center .right input {border:none;background:#1A6DB9;color:white;margin:10px 0;padding:10px 0;display:block;width:100%;cursor:pointer}

#info, #configs, #ideas, #vectors, #dictionaries, #lists, #graphs, #trees {position:fixed;overflow-x:hidden;background:rgba(26,109,185,0.8);z-index:9999;color:white;border-radius:10px}
 a.closeme {position:absolute;top:0;right:0;padding:10px;background:red;color:white;border:1px solid black;border-right:none;border-top:none}
#configs input {display:block;padding:5px;margin:10px 0;border:1px solid white;float:left}
#configs input[type="text"] {color:black;background:rgba(255,255,255,0.7);width:80%}
#configs input[type="text"]:active {background:rgba(255,255,255,0.9)}
#configs input[type="text"]:hover {background:rgba(255,255,255,0.9)}
#configs input[type="button"] {color:white;background:orange;width:20%;text-align:center;cursor:pointer}
#configs input[type="button"]:hover {background:red}

.mtitle {margin:0}

.ani, .menu li a {-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;-ms-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out}
.ani:hover, .menu li:hover a {-webkit-transform:scale(1); -moz-transform:scale(1); -o-transform:scale(1); -ms-transform:scale(1); transform:scale(1)}